@CHARSET "UTF-8";

#contents {
	background-color: transparent;
	border: none;
	box-shadow: none;
}

#dashboard {
	padding: 16px;
}

#dashboard-panels {
	overflow: hidden;
	margin-top: -16px;
}

#dashboard-panels > .column {
	float: left;
	width: 50%;
	min-height: 200px;
}

#dashboard-panels > .column:nth-child(1) .panel {
	margin-right: 8px;
}

#dashboard-panels > .column:nth-child(2) .panel {
	margin-left: 8px;
}

#dashboard .panel {
	margin: 16px 0 32px 0;
	background-color: #F6F6F6;
	border: 1px solid #CCC;
	border-radius: 0.5em;
	font-size: 12px;
	box-shadow: 0 25px 15px -20px rgba(0, 0, 0, 0.2);
	overflow: hidden;
}

#dashboard-panels p.nothing {
	margin: 1em;
	text-align: center;
}

.panel-title {
	font-weight: bolder;
	background: -moz-linear-gradient(top, #F6F6F6, #E8E8E8 50%);
	background: -webkit-linear-gradient(top, #F6F6F6, #E8E8E8 50%);
	background: linear-gradient(to bottom, #F6F6F6, #E8E8E8 50%);
	background-color: #E8E8E8;
	border-bottom: 1px solid #CCC;
	padding: 0.4em 1ex;
	border-radius: 0.5em 0.5em 0 0;
	text-shadow: 0 1px 0 #FFFFFF;
	text-align: center;
	cursor: move;
}

.panel-contents {
	margin: 1em;
}

.panel-contents > table {
	width: 100%;
	border-collapse: collapse;
}

.panel-footer {
	font-size: 12px;
	padding: .4em 0;
	border-top: 1px solid #cfcfcf;
	background: -moz-linear-gradient(top, white, rgba(255, 255, 255, 0));
	background: -webkit-linear-gradient(top, white, rgba(255, 255, 255, 0));
	background: linear-gradient(to bottom, white, rgba(255, 255, 255, 0));
}

.panel-footer {
	text-align: center;
}

.panel-footer a:not(:hover) {
	color: inherit;
}

.panel-holder {
	visibility: hidden;
	height: 1px;
}

.panel-table thead {
	background: white;
	color: #808080;
	border-bottom: 1px solid #CCC;
}

.panel-table tfoot {
	background: linear-gradient(to bottom, #FFFFFF, rgba(255, 255, 255, 0)) repeat scroll 0 0 rgba(0, 0, 0, 0);
	border-top: 1px solid #CFCFCF;
	font-size: 12px;
	text-align: center;
}

.panel-table tfoot a:not(:hover) {
	color: inherit;
}

.panel-table th {
	font-weight: normal;
	text-align: left;
}

.panel-table th,
.panel-table td {
	padding: 4px 8px;
}

.panel-table th:first-child,
.panel-table td:first-child {
	padding-left: 15px;
}

.panel-table th:last-child,
.panel-table td:last-child {
	padding-right: 15px;
}